/* Modify Ant Design CSS - Start */
.ant-layout-content {
  padding: 20px 50px;
}
/* Modify Ant Design CSS - End */

/* Modify Headings - Start */
h1 {
  font-size: 32px;
}

h2 {
  font-weight: bold;
  font-size: 28px;
}
/* Modify Headings - End */

/* Custom Class - Start */
.flex-container {
  display: flex;
  align-items: center;
}

.flex-container.space-between {
  justify-content: space-between;
}

.ellipsis-paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mentor-name {
  font-size: 16px;
  font-weight: bold;
}

.mobile-view {
  display: none !important;
}
/* Custom Class - End */

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .ant-layout-content {
    padding: 20px 24px;
  }
}

@media screen and (max-width: 480px) {
  .ant-layout-content {
    padding: 20px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  .input-search {
    display: none !important;
  }

  .mobile-view {
    display: block !important;
  }

  .mobile-input-search {
    position: absolute;
    top: 64px;
    left: 0;
    text-align: center;
    background-color: #001529;
    width: 100%;
    z-index: 9;
  }
}
